.eclipse-decor-1 {
	top: 20rem;
}

.eclipse-decor-2 {
	top: 16rem;
}

.post {
	cursor: pointer;
	display: block;
	border: 2px solid #e2e2e2;
	/* border: 2px solid #bdb8b8; */
	border-radius: 4px;
	padding: 12px;
	transition: all 0.25s;
	backdrop-filter: blur(8px);
	background-color: rgba(var(--bs-white-rgb), 0.64);
	z-index: 1;
	position: relative;
}
.post:hover {
	border: 2px solid #fe9548;
}

.post:hover .post-title {
	color: var(--bs-primary);
}

.post-image {
	padding: 0;
	width: 100%;
	height: 162px;
	border-radius: 4px;
	object-fit: cover;
}

.post-title {
	color: #000;
	line-height: 22px;
	letter-spacing: 0.03em;
	transition: all 0.5s;
	-webkit-line-clamp: 2;
	font-size: 15px;
	margin-bottom: 0.5rem;
}

.post-description {
	-webkit-line-clamp: 3;
	color: #949ba4;
}

.post-date {
	font-weight: 400;
	font-size: 10px;
	line-height: 18px;
	letter-spacing: 0.03em;
	color: #949ba4;
}

.read-btn {
	background-color: #fadec8;
	width: 18px;
	height: 18px;
	border-radius: 50%;
}
