.header-pic {
	position: relative;
	height: 90vh;
}

.header-pic .fade {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40%;
	background: linear-gradient(0deg, rgba(var(--bs-black-rgb), 1) 0%, rgba(var(--bs-black-rgb), 0.5) 60%, rgba(var(--bs-dark-rgb), 0) 100%);
}

.header-pic .overlay {
	position: relative;
}

.header-pic .header-text {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
}

.meeting-intro :global(.carousel-item) {
	height: 100vh;
}

.describe-word {
	font-size: 4rem;
	text-shadow: 2px 2px 8px #fff;
	letter-spacing: -2px;
}

.quotes {
	font-size: 1.6rem;
	font-weight: 500;
	font-style: italic;
	font-family: "Crimson Pro";
	text-shadow: 2px 2px 8px #fff;
}

.quotes-author {
	font-weight: 600;
	font-size: 1.2rem;
	font-family: "Crimson Pro";
	text-shadow: 2px 2px 8px #fff;
}

.meeting-header-bg {
	background: linear-gradient(180deg, white 30%, transparent 100%);
}

.meeting-header-sub-bg {
	filter: blur(16px) brightness(1) contrast(0.8);
	opacity: 0.5;
}

.group-image {
	margin-top: 4rem;
	height: 86%;
	padding: 2rem;
	box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
}

@media (min-width: 992px) {
	.group-image {
		padding: 4rem;
		height: 80%;
	}
}

@keyframes slideForward {
	from {
		transform: translate(-4%, 0);
	}

	to {
		transform: translate(4%, 0);
	}
}

@keyframes slideBackward {
	from {
		transform: translate(4%, 0);
	}

	to {
		transform: translate(-4%, 0);
	}
}

.group-image-row {
	animation-duration: 12s;
	animation-timing-function: linear;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.group-image-row.row-1 {
	animation-name: slideForward;
}

.group-image-row.row-2 {
	animation-name: slideBackward;
}

.meeting-content {
	z-index: 1;
}

.meeting-bg {
	opacity: 0.07;
	z-index: -99;
}

.meeting-bg img {
	filter: blur(2px);
	width: 60vw;
	height: 60vw;
	border-radius: 50%;
	border: 4px solid var(--bs-dark);
	object-fit: contain !important;
}

.meeting-bg > img {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.post {
	cursor: pointer;
	display: block;
	border: 2px solid transparent;
	border-radius: 12px;
	padding: 12px;
	transition: all 0.25s;
	backdrop-filter: blur(8px);
	background-color: rgba(var(--bs-white-rgb), 0.64);
	z-index: 1;
}
.post:hover {
	border: 2px solid var(--bs-primary);
}

.post:hover .post-title {
	color: var(--bs-primary);
}

.post-image {
	padding: 0;
	width: 100%;
	height: 162px;
	border-radius: 4px;
	object-fit: cover;
}

.post-title {
	color: #000;
	line-height: 22px;
	letter-spacing: 0.03em;
	transition: all 0.5s;
	-webkit-line-clamp: 2;
	font-size: 15px;
	margin-bottom: 0.5rem;
}

.post-description {
	-webkit-line-clamp: 3;
	color: #949ba4;
}

.post-date {
	font-weight: 400;
	font-size: 10px;
	line-height: 18px;
	letter-spacing: 0.03em;
	color: #949ba4;
}

.read-btn {
	background-color: #fadec8;
	width: 18px;
	height: 18px;
	border-radius: 50%;
}

.see-more-btn {
	padding: 0.8rem 4.6rem;
	z-index: 1;
}

.dots {
	top: -1rem;
	left: -10rem;
	width: 16rem;
	height: auto;
}

.eclipse-decor-3 {
	top: -2rem;
	right: -4rem;
}
