@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital@1&display=swap');

.carousel :global(.carousel-item) {
  height: 43rem;
}

.description {
  font-size: 1.2rem;
  letter-spacing: 0.01rem;
}

.yt-play {
  cursor: pointer;
}

.yt-play .yt-play-btn {
  width: 5rem;
  height: 5rem;
  transition: 0.4s ease-out;
}

.yt-play:hover .yt-play-btn {
  backdrop-filter: blur(4px);
}

.activity-item {
  flex-shrink: 0;
  flex-basis: 30%;
}

.activity-item :global(.card-img-overlay) {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0)) 50%;
}

.activity-item :global(.card-img) {
  transition: 0.4s ease-out;
  height: 248px;
}

.activity-item:hover :global(.card-img) {
  transform: scale(120%);
  opacity: 0.6;
}

.card-sub-text {
  opacity: 0;
  transition: 0.2s ease-out;
}

.activity-item:hover .card-sub-text {
  opacity: 1;
}

.card-header {
  bottom: 0%;
  transition: 0.2s ease-out;
}

.activity-item:hover .card-header {
  bottom: 100%;
}

.blog-item {
  flex-shrink: 0;
  flex-basis: 25%;
  transition: 0.4s ease-out;
}

.blog-item:hover {
  --bs-card-border-color: var(--bs-primary);
}

.blog-item img {
  height: 12rem;
}

.blog-item h5, .blog-item .read-more {
  transition: 0.2s ease-out;
}

.blog-item:hover h5, .blog-item:hover .read-more {
  color: var(--bs-primary);
}

.join-us {
  padding: 56px 0;
  border: 2px solid var(--bs-primary);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: screen;
  background-color: rgba(var(--bs-white-rgb), 0.9);
}

.join-us h1 {
  line-height: 132%;
  font-size: 3rem;
}

.join-us p {
  font-size: 1.6rem;
  font-weight: 300;
}