.btn-dark {
  background: linear-gradient(92deg, #fc6373 1.05%, #fe9548 98.6%);
  color: #fff;
  transition: 0.2s ease;
}

.btn-dark:hover {
  background: linear-gradient(92deg, #fff 1.05%, #fff 98.6%);
  color: #fc6373 !important;
}

.btn-dark:active {
  background: linear-gradient(92deg, #eee 1.05%, #eee 98.6%);
}