@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.footer {
  background: linear-gradient(180deg, #eba919 0%, #9a2718 100%);
}
