.blog-intro :global(.carousel-item) {
	height: 94vh;
}

@media (min-width: 992px) {
	.blog-intro :global(.carousel-item) {
		height: 80vh;
	}
}

.blog-intro-banner {
	filter: blur(64px) brightness(1.2);
	opacity: 32%;
}

.blog-intro-banner-text h1 {
	padding-top: 2rem;
	font-size: 8rem;
	font-weight: 800;
	opacity: 80%;
	text-shadow: 0px 8px 16px rgb(0 0 0 / 8%);
}

@media (min-width: 992px) {
	.blog-intro-banner-text h1 {
		padding-top: 0;
		font-size: 12rem;
	}
}

.blog-intro-poster .poster {
	height: 92%;
	margin-top: 12rem;
}

@media (min-width: 992px) {
	.blog-intro-poster .poster {
		margin-top: 5rem;
	}
}

.blog-intro-poster .poster img {
	border: 16px solid var(--bs-white);
	box-shadow: 0.15rem 0rem 1rem rgba(var(--bs-body-color-rgb), 0.15);
}

.blog-intro-content {
	top: -4rem;
	background-color: rgba(var(--bs-white-rgb), 0.64);
	backdrop-filter: blur(8px);
	box-shadow: 1rem 1rem 1rem rgba(var(--bs-body-color-rgb), 0.15);
}

@media (min-width: 992px) {
	.blog-intro-content {
		top: -8rem;
	}
}

.blog-intro-content h2 {
	font-size: 1.4rem;
	-webkit-line-clamp: 3;
	max-height: 92px;
	transition: 0.24s ease-out;
}

.blog-intro-content h2:hover {
	color: var(--bs-primary);
	text-decoration-color: var(--bs-primary);
}

.blog-intro-content-description {
	-webkit-line-clamp: 4;
	max-height: 10rem;
}

.blog-content-header {
	margin-top: 8rem;
}

.blog-item {
	flex-shrink: 0;
	flex-basis: 100%;
	transition: 0.4s ease-out;
	background-color: rgba(var(--bs-white-rgb), 0.64);
	backdrop-filter: blur(8px);
	border: 2px solid transparent;
	border-radius: 12px;
}

@media (min-width: 992px) {
	.blog-item {
		flex-basis: 25%;
		border: 1px solid transparent;
	}
}

.blog-item-img {
	border-radius: 20px;
}

.blog-item:hover {
	/* --bs-card-border-color: var(--bs-primary); */
	border: 2px solid var(--bs-primary);
	box-shadow: 0.1rem 0rem 1rem rgba(var(--bs-body-color-rgb), 0.15);
}

.blog-item img {
	height: 13rem;
}

.blog-item h5,
.blog-item .read-more {
	transition: 0.2s ease-out;
}

.blog-item:hover h5,
.blog-item:hover .read-more {
	color: var(--bs-primary);
}

.blog-item-title {
	-webkit-line-clamp: 2;
	max-height: 92px;
	min-height: 36px;
}

.blog-item-description {
	-webkit-line-clamp: 3;
	max-height: 92px;
}

.academic-content {
	z-index: 1;
}

.post {
	cursor: pointer;
	display: block;
	border: 2px solid transparent;
	border-radius: 12px;
	padding: 12px;
	transition: all 0.25s;
	backdrop-filter: blur(8px);
	background-color: rgba(var(--bs-white-rgb), 0.64);
	z-index: 1;
}
.post:hover {
	border: 2px solid var(--bs-primary);
}

.post:hover .post-title {
	color: var(--bs-primary);
}

.post-image {
	padding: 0;
	width: 90%;
	height: 162px;
	border-radius: 4px;
	object-fit: cover;
}

.post-title {
	color: #000;
	line-height: 22px;
	letter-spacing: 0.03em;
	transition: all 0.5s;
	-webkit-line-clamp: 2;
	font-size: 15px;
	margin-bottom: 0.5rem;
}

.post-description {
	-webkit-line-clamp: 3;
	color: #949ba4;
}

.post-date {
	font-weight: 400;
	font-size: 10px;
	line-height: 18px;
	letter-spacing: 0.03em;
	color: #949ba4;
}

.read-btn {
	background-color: #fadec8;
	width: 18px;
	height: 18px;
	border-radius: 50%;
}

.see-more-btn {
	padding: 0.8rem 4.6rem;
	z-index: 1;
}

.puzzle {
	top: -6rem;
	right: -12rem;
	width: 12rem;
	height: auto;
}

.eclipse-1 {
	top: 4rem;
	right: -10rem;
	width: 12rem;
	height: auto;
}

.eclipse-3 {
	top: -4rem;
	left: -8rem;
	width: 12rem;
	height: auto;
}

.eclipse-2 {
	top: -2rem;
	left: 70%;
	width: 12rem;
	height: auto;
}

.rect-1 {
	top: 50rem;
	left: -10rem;
	width: 12rem;
	height: auto;
}

.rect-2 {
	top: 52rem;
	left: -10rem;
	width: 12rem;
	height: auto;
}

.circle-gradient-1 {
	top: -60vw;
	right: -64vw;
	background: radial-gradient(var(--bs-primary), transparent 70%);
	width: 120vw;
	height: 120vw;
	border-radius: 50%;
	opacity: 8%;
}

.circle-gradient-2 {
	top: -20vw;
	left: -52vw;
	background: radial-gradient(#0085ff, transparent 70%);
	width: 80vw;
	height: 80vw;
	border-radius: 50%;
	opacity: 16%;
}

.bg {
	opacity: 0.07;
	z-index: -99;
}

.bg .fade {
	background: linear-gradient(180deg, var(--bs-light) 36%, transparent);
	width: 100%;
	height: 100vh;
	opacity: 0.72;
}

.bg img {
	filter: blur(2px);
	width: 60vw;
	height: 60vw;
	border-radius: 50%;
	border: 4px solid var(--bs-dark);
	object-fit: contain !important;
}

.bg > img {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
