.btn {
  transition: 0.2s;
}

.btn:active {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 31%);
  border: inherit;
}

.btn-gradient {
  background: linear-gradient(90deg, #FC6373 0%, #FE9548 100%);
  color: #FFF;
}

.btn-gradient:hover {
  background: linear-gradient(90deg, #FFF 0%, #FFF 100%);
  color: var(--bs-secondary) !important;
}

.btn-outline-gradient {
  background: linear-gradient(90deg, #FC637300 0%, #FE954800 100%);
  color: var(--bs-secondary);
  border: 1px solid var(--bs-secondary);
}

.btn-outline-gradient:hover {
  background: linear-gradient(90deg, #FC6373 0%, #FE9548 100%);
  color: white !important;
  border: 1px solid transparent !important;
}