@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* Config `rem` */
html {
	font-size: 14px;
}

/* Modify Bootstrap */
:root {
	--bs-body-font-family: "Google Sans", var(--bs-font-sans-serif);
	--bs-body-text-align: justify;
}

:root,
[data-bs-theme="light"] {
	--bs-body-bg: var(--bs-light);
	--bs-body-bg-rgb: var(--bs-light-rgb);
	--bs-primary: #fe9548;
	--bs-primary-rgb: 254, 149, 72;
	--bs-secondary: #48b1fe;
	--bs-secondary-rgb: 72, 177, 254;
	--bs-info: #adadad;
	--bs-info-rgb: 173, 173, 173;
	--bs-gradient: linear-gradient(90deg, #fc6373, #fe9548);
}

img {
	object-fit: cover;
}
