@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


/* Config `rem` */
html {
  font-size: 14px;
}

/* Modify Bootstrap */
:root {
  --bs-body-font-family: "Lato", var(--bs-font-sans-serif);
  --bs-body-text-align: justify;
}

:root, [data-bs-theme="light"] {
  --bs-primary: #FF6D1B;
  --bs-primary-rgb: 255, 109, 27;
  --bs-secondary: #fC6373;
  --bs-secondary-rgb: 252, 99, 115;
  --bs-gradient: linear-gradient(90deg, #FF6D1B, #FFB54D);
}

